In [52]:
import requests
import json
import pandas as pd

In [45]:
url = "https://data.sfgov.org/resource/86e8-rfem.json"

In [41]:
url2 = "https://data.sfgov.org/api/geospatial/86e8-rfem?date=20231024&accessType=DOWNLOAD&method=export&format=Shapefile"

In [28]:
username = "<username>"
password = "<password>"

In [29]:
session = requests.Session()
session.auth = (username, password)

In [46]:
response = session.get(url)

In [58]:
data = response.json()

In [59]:
df = pd.DataFrame(data)

In [60]:
df.head()

,active_licences,permit_number,ban,permit_status,poe_class_code,license_type,dba_name,street_address,city,state,point
0,"[""POE"",""BP"",""MAD""]",1723,1148678,Active,P23,Place of Entertainment,LUCKY STRIKE LANES,200 KING ST,San Francisco,CA,"{'type': 'Point', 'coordinates': [-122.3929120..."
1,"[""POE"",""BP"",""MAD""]",938,NaN,Active,P23,Place of Entertainment,Buckshot Bar,3848 Geary Blvd,San Francisco,CA,"{'type': 'Point', 'coordinates': [-122.4608520..."
2,"[""POE"",""BP""]",0033,NaN,Active,P23,Place of Entertainment,MOLOTOV'S,582 Haight St.,San Francisco,CA,"{'type': 'Point', 'coordinates': [-122.4317740..."
3,"[""POE"",""BP""]",1034,462375,Active,P23,Place of Entertainment,Club 26 Mix,3024 Mission St,San Francisco,CA,"{'type': 'Point', 'coordinates': [-122.4184629..."
4,"[""POE"",""BP""]",1176,0479844,Active,P23,Place of Entertainment,Slate Bar,2925 16th Street,San Francisco,CA,"{'type': 'Point', 'coordinates': [-122.4179210..."