In [1]:
import pandas as pd
from pandasql import sqldf

In [2]:
dataset = 'https://data.sfgov.org/api/views/kc49-udxn/rows.csv?$limit=10000' #url from the download csv button in the open data portal

In [3]:
data = pd.read_csv(dataset)

In [4]:
data.info() #description of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16396 entries, 0 to 16395
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Measure Code                16396 non-null  int64
 1   Department                  16396 non-null  object
 2   Goal                        16396 non-null  object
 3   Measure Title               16396 non-null  object
 4   Scorecard Update Frequency  16396 non-null  object
 5   Monthly                     16396 non-null  bool
 6   Calendar Month              16396 non-null  object
 7   Measure Description         16106 non-null  object
 8   Measure Methodology         7454 non-null   object
 9   Category                    16396 non-null  object
 10  Actual                      11853 non-null  float64
 11  Measure Data Type           16136 non-null  object
 12  data_loaded_at              16396 non-null  object
dtypes: bool(1), float64(1), int64(1), object(10)
memory usage: 1.5+ MB

In [10]:
query = sqldf(
"""
select
DISTINCT
Department,
"Measure Title"
from data
WHERE "Measure Title" = 'Environment'
""")

In [11]:
query

    Department                                      Measure Title
0  Environment  Average workday tons of refuse to primary land...
1  Environment  Percentage of residential and small business r...
2  Environment  Greenhouse gas emissions percentage below 1990...

In [26]:
query.to_csv('output.csv') #save query output as csv